{% extends "core/base_doc.html" %}
{% load render_table from django_tables2 %}
{% load django_tables2 %}
{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
{% load static %}
{% block content %}
{{ form.media }}

{% if filter %}
<div class="container" style="margin-left:auto;margin-right: auto;">
    <div class="card-content white-text">
        <label style="font-size: calc(12px + 1vw)">Tercero:</label>
        <form action="" method="get" class="form form-inline">
            {% bootstrap_form filter.form layout='inline' %}
            {% bootstrap_button 'Filtrar' %}
            <a type="button" style="transform: translate(1px);" class="btn btn-danger" href="{% url 'registros_list' %}">salir</a>
        </form>
        </br>
        </br>
        <a type="button" style="transform: translate(1px);" class="btn btn-warning" href="{% url 'crea_tercero_registro' %}">Crea Tercero</a>
        </br>
        </br>
    </div>
</div>    
{% endif %}
<div class="container" style="margin-left:auto;margin-right: auto;">
    <div class="col-md-8">
        <div class="card">
            <div class="header-titulo">
                <div class="titulo-injerto">
                    <center>
                        <h3 style="color: blue;align-text: center;">TERCEROS</h3>
                    </center>
                </div>
            </div>
            <div class="card-body" id="product_container">
                {% render_table table 'django_tables2/bootstrap.html' %}
            </div>
        </div>
    </div>
</div>

{% block javascript %}
<script>

var a = 0

$(document).on("click","#BtnSelTer", function(e) {
    e.stopImmediatePropagation();
    var currentRow=$(this).closest("tr");
    var id = currentRow.find("#id").text();
    $.ajax({
    url: "{% url 'selecciona_tercero_registro' %}",
    data:{'id':id},
    method: "GET",
    dataType: 'json',
    
    });
    });

</script>

{% endblock %}
{% endblock %} 

