!<!DOCTYPE html>
{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<style>

</style>
<html>
   
        <head >
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.0.45/css/materialdesignicons.min.css">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
        </head>    
        <div style="display: flex;flex-direction: row;">    
           
            <nav class="main-menu">
                <div class="vertical-nav bg-white" id="sidebar">
                    <div class="py-2 px-3 mb-20 ">
                        <div class=""><img src="{% static 'img/logo_empresa.png' %}" alt="110" width="110" class="rounded-circle img-thumbnail ">
                            <div style="color:darkblue;"><strong>Caja</strong></div>
                            <div style="height: 1px;background-color: black;"></div>
                            <div style="margin-top: -15px"class="subtitulo" ></div>
                        </div>
                    </div>
                    <ul>
                        <li class="has-subnav">
                            <a href="{% url 'apertura_caja' %}">
                                <i class="fa fa-circle" style="font-size:10px;"></i>
                                <span class="nav-text" style="color:white">
                                    <strong>Apertura Caja</strong>
                                </span>
                            </a>
                        </li>
                        <li class="has-subnav">
                            <a href="{% url 'pedido_caja_lista_todos'  %}">
                                <i class="fa fa-circle" style="font-size:10px;"></i>
                                <span class="nav-text" style="color:white">
                                    <strong>Pedidos Caja Todos</strong>
                                </span>
                            </a>
                        </li>
                        <li class="has-subnav">
                            <a href="{% url 'recibo_caja_lista_todos' %}">
                                <i class="fa fa-circle" style="font-size:10px;"></i>
                                <span class="nav-text" style="color:white">
                                    <strong>Recibos de Caja Todos</strong>
                                </span>
                            </a>
                        </li>
                        <li class="has-subnav">
                            <a href="{% url 'pagos_caja_lista_todos' %}">
                                <i class="fa fa-circle" style="font-size:10px;"></i>
                                <span class="nav-text" style="color:white">
                                    <strong>Pagos Todos</strong>
                                </span>
                            </a>
                        </li>
                        <li class="has-subnav">
                            <a href="{% url 'sube_terceros' %}">
                                <i class="fa fa-circle" style="font-size:10px;"></i>
                                <span class="nav-text" style="color:white">
                                    <strong>Sube Terceros</strong>
                                </span>
                            </a>
                        </li>
                        <li class="has-subnav">
                            <a href="{% url 'home' %}">
                                <i class="fa fa-power-off fa-2x" style="color:white"></i>
                                <span class="nav-text" style="color:white">
                                    <strong>Regresar</strong>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
                            
            <div class="container" style="width:400%;transform: translate(10vh,-80vh);">
                <div class="row g-4">
                    <div class="col-sm-10 col-xl-10">
                        <div class="bg-light rounded h-100 p-4">
                        <ul class="collapsible">
                        <th><i class="material-icons">payments</i></th>
                        <th>SESIONES DE CAJA ABIERTAS</th>
                        <li>
                        {% load caja_tags %}
                        {% get_sesiones_caja_list as sesiones %}
                        {% if sesiones %}   
                        <table class="table table-bordered">
                        <tr>
                            <th>Caja</th>
                            <th>Fecha/Hora</th>
                            <th>Usuario</th>
                            <th>Ingresar a Caja</th>
                            <th>Cuadre Caja</th>
                            <th>Cerrar Caja</th>
                        </tr>
                        {% for sesion in sesiones %}
                        <tr>
                            <td ><li><a style="color:black;" href="" class="link">{{sesion.IdCaja.descripcion|title}}</a></li></td>
                            <td ><li><a style="color:black;" href="" class="link">{{sesion.created|timesince}}</a></li></td>
                            <td ><li><a style="color:black;" href="" class="link">{{sesion.IdUsuario.username}}</a></li></td>
                            <td><a style="color:#630c49" href="{% url 'ingreso_caja' sesion.IdCaja_id %}"><i><span class="material-icons">input</span></i></a></td>
                            <td><a style="color:#4123ea" href="{% url 'cuadre_caja' sesion.IdCaja_id %}"><i><span class="material-icons">done all</span></i></a></td>
                            <td><a style="color:#EA3323" href="{% url 'cierre_caja' sesion.id %}"><i><span class="material-icons">highlight_off</span></i></a></td>
                        </tr>
                        {% endfor %}
                        </table>
                        </li>
                        {% endif %}
                    </div>    
                </div>
            </div>
        </div>
         
      
</html>

{% endblock %}